global
  maxconn 20000 
  debug

defaults
  mode http
  balance roundrobin
  maxconn 2000
  timeout connect 5s
  timeout client 5s
  timeout server 5s
  timeout check 5s

frontend https-lb
  mode http
  bind *:8080

  default_backend web

backend web
  mode http

  option httpchk GET /health
  server dog dog:8080 check inter 1000 fall 2 rise 2
  server cat cat:8080 check inter 1000 fall 2 rise 2
  server mouse mouse:8080 check inter 1000 fall 2 rise 2


  